<style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
.name{
  float: left;
  padding-right: 4%;
}
.lastname{
  float: center;
  padding-left: 34%;
  padding-right:45%;
}
.user{
  float: left;
  padding-right: 4%;
}
.pass{
  float: center;
  padding-left: 34%;
  padding-right:45%;
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=date], select[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, select[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.birthday{
  float: center;
  padding-left: 34%;
  padding-right:45%;
}




/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding:16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 56%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
  width:56%;
}
</style>

<form class="container">
  <div class="container">
    <h1>Sign-up</h1>
    <hr>
    <div class="name">
    <label for="firstname"><b>Firstname</b></label>
    <input type="text" placeholder="Firstname" name="firstname" id="firstname" required>
    </div>
    <div class="lastname">
    <label for="lastname"><b>Lastname</b></label>
    <input type="text" placeholder="lastname" name="lastname" id="lastname" required>
    </div>

    <div class="user">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Username" name="username" id="username" required>
    </div>
    <div class="pass">
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required><br>
    </div>

    <div class="name">
    <label for="birthday"><b>Birthday</b></label>
    <input type="date" id="birthday" name="birthday" required><br><br>
    </div>

    <div class="birthday">
    <label for="country"><b>Country</b></label>
    <select type="text" id="country" required>
      <option value="">Choose...</option>
      <option>India</option>
      <option>United States</option>
    </select>
    </div>

    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>